.galeria__images {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  margin: 40px 100px;
  margin-bottom: 35px; }
  .galeria__images .img__galeria {
    width: 250px;
    height: 200px;
    transition: transform 100ms linear; }
    .galeria__images .img__galeria:hover {
      transform: scale(1.12); }
  .galeria__images .menu__navbar--underline {
    text-decoration-line: underline; }
